/* Making Hoverable Drop Down */
.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid#DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
 }

.filters button {
    font-size: 18px;
    background:#FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    margin: 12px 30px;
    opacity: 1;
}

.filters button:hover{
   opacity: 0.9;
}



/* Styling  6-CSS for Location and Amenities*/
.locations,
.amenities {
    height: 100%;
    width: 25%;
    padding-left: 50px;
    margin-left: auto;
    display: inline-block;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

/* Header Styling */
.locations h3
.amenities h3{
    font-weight: 600;
    margin: 10px 0 5px 0;
}

.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    margin: 0 0 5px 0;
}

/* Styling the Popover Menu*/
.popover{
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: none;
    position: absolute;
    width: 25%;
    padding: 0 0 20px 30px;
    z-index: 1;
    margin-top: 0px;
}

/* Styling Lists Ul and li
.locations ul li,
.amenities ul li {
    list-style: none;
*/
    

/* Header 2 Style for Popover */
.filters .popover h2{
    font-size: 16px;
    padding-left: 30px;
    padding: 0px;
}


.amenities:hover,
.locations:hover {
    display: block;
}



}

/* Background color */
.filters .amenities .popover {
    background-color:  #FAFAFA;
    width: 25%;
    border: 1px solid #DDDDDD;
}

/* Opacity for Hovering Locations and Amenity*/
.filters.locations:hover,
.filters.amenities:hover {
    background-color: #FAFAFA;
    display: block;
}



.amenities .popover,
.locations .popover {
    top: 100%;
    right: 0;

}

.filters.locations:hover .popover,
.filters.amenities:hover .popover {
    display: block;
}


.filters .popover ul {
    list-style-type: none;
    padding: 0;
    padding-bottom: 20px;
    width: 100%;
}


.popover ul li {
    margin-bottom: 5px;
}

.filters .amenities ul li {
    padding-top: 5px;
}

.filters .amenities ul {
    padding: 15px 0 15px 10px;
}

.filters .locations ul {
    padding: 6px 0 6px 0;
}

















