/* Styling Filters Class */
.filters{
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    position:relative;
}
/* Styling the search Button */
.filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
    margin-left: auto;
}
/* Opacity when one hovers over Search Button */
.filters button:hover {
    opacity:0.9;
}

/* Styling Locations and Amenities Popover */
.locations{
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
}

.amenities{
    height: 100%;
    width: 25%;
}

/* Styling header H3 for locations and amenities classes */
.locations h3,
.amenities h3{
    font-weight: 600;
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 0px;
}

/* Styling header h4 for locations and amenities classes */
.locations h4,
.amenities h4{
    font-weight: 400;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: auto;
}

/* Styling popover content*/
.popover{
    display: none;
    list-style-type: none;
    background-color: #FAFAFA;
    width: auto;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 40px;
    line-height: 1.5;
}

/* Styling header h2 for popover content */
.popover h2{
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 1;
    margin-left: -20px;
}

/* Styling the ul and the li under the h2 */
.popover ul{
    list-style-type: none;
    margin-left: -40px;
}

/* Styling hover behavior for amenities and locations class */
.locations:hover .popover,
.amenities:hover .popover{
    display: block;
}